{% extends "base.html.twig" %}

{% block body %}
    <div class="container mt-5">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Хэш</th>
                <th scope="col">Запрос</th>
                <th scope="col">Ссылка на скачивание</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>
            <tbody>
            {% for document in documents %}
                <tr data-id="{{ document.id }}" style="height: 50px">
                    <td>{{ document.id|split('-')|first }}</td>
                    <td>{{ document.searchField }}</td>
                    <td id="downloadLink-{{ document.id }}"></td>
                    <td id="status-{{ document.id }}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(documents) }}
        </div>
    </div>
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('docFetcher') }}
    {% endblock %}
{% endblock %}